@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfaff;
  font-family: "FiraGO";
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-date-stock {
  background: #fcfcfd url("../../public/icons/calendar.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 93%;
}
.input-date-success {
  background: #f8fff8 url("../../public/icons/calendar.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 93%;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
